<div class="container" >
	<div class="row">
		<div class="col-md-6">
			<pre style="margin-bottom: 10px; background: hsl(30, 20%, 25%); " >
			<code class="language-css" style="color:#fff; font-size:15px; text-shadow: none;">
		
 /*===============================================*/
 /*  	$location服务 + $anchorScroll锚点跳转服务
 /*===============================================*/
    var m1 = angular.module('myApp',[]);
        m1.controller('Aaa',['$scope','$location','$anchorScroll',function($scope,$location,$anchorScroll){

        $scope.change = function(id){
            //console.log(id);
            $location.hash(id);
            $anchorScroll();
        };
    }]);

    &lt;div id="parent" ng-controller="Aaa"&gt;
    &lt;ul&gt;
    &lt;li ng-repeat="id in [1,2,3,4,5]"
                ng-click="change('div'+id)"&gt;{{id}}aaaaaaaaaa&lt;/li&gt;
    &lt;/ul&gt;
    &lt;div ng-repeat="id in [1,2,3,4,5]" ng-attr-id="div{{id}}"&gt;{{id}}&lt;/div&gt;
    &lt;/div&gt;
				</code>
			</pre>
	</div>
		<div class="col-md-6">
			<pre style="margin-bottom: 10px; background: hsl(30, 20%, 25%); ">
				<code class="language-css" style="color:#fff; font-size:15px; text-shadow: none;">
	代码说明：
    1、路径 $location.path('aaa/bbb/ccc');
       这样，前进后退页面，是可以的。
       $location.path('aaa/bbb/ccc').replace();
       这样就屏蔽掉了 前进后退的能力
    2、可以给url后添加hash值，$location.hash('hello');
       可以获取到hash值,var a = $location.hash();
    3、可以search
       $location.search({'age':'20'});
    4、得到路径+hash+search的url:
       $location.url();

    5、每一个li点击时候，触发函数，
       把每一个li的id穿进去，怎么设id?
    6、锚点跳转服务，注入进来以后，不用写什么，
       只需要通过$location设置hash就能跳转了
    7、有一个问题要注意，加入我在#4里，
       然后手动回到#1位置，再点击#4，结果
       不会回到#4位置，因为url地址还是#4
       我们可以写： $anchorScroll();

				</code>
			</pre>
		</div>

		<button class="btn pull-right"  ui-sref="AngularJs" style="background: hsl(30, 20%, 25%); color:#fff;margin-bottom:10px; margin-right: 15px;">返回</button>
	</div>
	
	
</div>
	

