<div class="container" >
	<div class="row">
		<div class="col-md-12">
			<pre style="margin-bottom: 10px; background: hsl(30, 20%, 25%); " >
			<code class="language-css" style="color:#fff; font-size:15px; text-shadow: none;">
		
												 /*===============================================*/
												 /*  					下拉菜单表格-标签指令应用
												 /*===============================================*/
								1、需要引入的文件：
									1)、angular.js
									2)、bootstrap.min.css	
									3)、jquery.min.js	
									4)、angular.min.js	
									5)、comboxtable.js	

								2、使用：
									&lt;comboxtable 
										name="station" 
										ng-model="station" 
										column-names="['公司id','公司','站点']" 
										column-fields="['companyid','companyname','stationname']" 
									    text-field="companyname" 
									    datas="datas" 
									    on-change="query()" 
									    key-word="formData.keyWord" 
									    is-required="true" 
									    is-show-index="true" 
									    content-style="width: 200px" 
									    input-style="font-size:13px" 
									    input-class="form-control" 
									    input-height="34px" 
									    input-placeholder="请选择"
									    is-always-reps-click="true" 
									    is-show-pagination="true" 
									    recordcount="7" 
									    pagenum="formData.pagenum" 
									    pagesize="formData.pagesize">
									&lt;/comboxtable>	

									&lt;p>选择的记录:{{station}}</p>
        							&lt;input ng-model="stationname" name="stationname">	




								3、js:
									var app = angular.module("app", ["util.comboxtable"]);
									app.controller("comboxtableController", ["$scope", "$http", function ($scope, $http) {
									    $http.get("comrelation.json").success(function(data){
									        $scope.datas=data;
									        console.info(data);
									    });
									    
									    $scope.formData={};
									    
									    $scope.query = function () {
									    	$scope.formData.keyWord=$scope.formData.keyWord==null?"":$scope.formData.keyWord;
									        console.info("查询-参数:keyWord:"+$scope.formData.keyWord+",pagesize:"+$scope.formData.pagesize+",pagenum:"+$scope.formData.pagenum);
									    };
									    $scope.station={};

									    $scope.$watch("station",function(){
									        console.info($scope.station);
									        $scope.stationname=$scope.station.stationname;
									    });
									}]);


							4、参数说明：
								name 下拉表格name属性--必填项
						        ng-model 下拉表格ng-model属性--必填项
						        column-names 表格显示的列名名称--必填项
						        column-fields 表格显示的数据所对应的字段-必填项
						        text-field 当选择了某条记录时，将在文本框中显示记录中字段'text-field'所对应的值--必填项
						        datas 数据源--必填项
						        on-change input文本框改变时触发的方法--可选项，不填时不会触发方法
						        key-word 下拉表格搜索关键字
						        is-disabled 标示下拉选择框是否可用--可选项，默认为可用
						        is-required 标示下拉选择框是否必填--可选项，默认为不必填
						        is-show-index--标示是否显示索引列，可选项，默认为不显示
						        content-style--可选项,要设置文本框的长度时需要在这里设置才生效
						        input-style input文本框的style
						        input-class input文本框的class
						        input-height input文本框的高
						        input-placeholder input文本框的提示信息--可选项，默认为'请选择或输入'
						        is-always-reps-click 标示当点击图标时是否时刻响应查询--可选项，默认为不时刻想响应
						        is-show-pagination 标示是否显示分页工具栏--可选项，默认为不显示
						        recordcount 记录数，当is-show-pagination为'true'时为必填项
						        pagenum 当前显示第几页，当is-show-pagination为'true'时为必填项
						        pagesize 每页显示多少记录，当is-show-pagination为'true'时为必填项
							
							5、 commoboxtable.js里引入 box.html
							6、 box.html里引入 style.css

						    7、comrelation.json
						    	[
								  {"companyid":111507.0,"stationid":123421.0,"stationname":"广州站","companyname":"中申物流运输有限公司"},
								  {"companyid":1000.0,"stationid":100.0,"stationname":"阳江站","companyname":"365金融"},
								  {"companyid":111508.0,"stationid":123422.0,"stationname":"湛江站","companyname":"中国邮政"},
								  {"companyid":111509.0,"stationid":123422.0,"stationname":"广州站","companyname":"中国银联"},
								  {"companyid":111510.0,"stationid":123422.0,"stationname":"普宁站","companyname":"顺丰快递"},
								  {"companyid":111511.0,"stationid":123422.0,"stationname":"普宁站","companyname":"顺丰快递"},
								  {"companyid":111512.0,"stationid":123422.0,"stationname":"普宁站","companyname":"顺丰快递"}
								]
								
				</code>
			</pre>
	</div>
		<!-- <div class="col-md-4">
			<pre style="margin-bottom: 10px; background: hsl(30, 20%, 25%); ">
				<code class="language-css" style="color:#fff; font-size:15px; text-shadow: none;">
	
				</code>
			</pre>
		</div> -->

		<button class="btn pull-right"  ui-sref="AngularJs" style="background: hsl(30, 20%, 25%); color:#fff;margin-bottom:10px; margin-right: 15px;">返回</button>
	</div>
	
	
</div>
	

