<div class="container" >
	<div class="row">
		<div class="col-md-12">
			<pre style="margin-bottom: 10px; background: hsl(30, 20%, 25%); " >
			<code class="language-css" style="color:#fff; font-size:15px; text-shadow: none;">
		
												 /*===============================================*/
												 /*  					decimal插件使用
												 /*===============================================*/
								1、需要引入的文件：
									1)、angular.js
									2)、decimal.js	

								2、使用：
									&lt;input type="text" ng-model="text1" decimal&gt;--&gt;可输入&lt;br&gt;
							   	&lt;input type="text" ng-model="text2" ng-disabled="true" decimal&gt;--&gt;不可用&lt;br&gt;
							   	&lt;input type="text" ng-model="text3" ng-readonly="true" decimal&gt;--&gt;只可读&lt;br&gt;
							   	&lt;input type="text" ng-model="text4" decimal precision="1"&gt;--&gt;可输入(保留1位小数)&lt;br&gt;
							   	&lt;input type="text" ng-model="text5" decimal precision="3"&gt;--&gt;可输入(保留3位小数)&lt;br&gt;		

								3、js:
									var app=angular.module("app",["util.decimal"]);
								app.controller("decimalController",["$scope",function($scope){
									//初始化
									$scope.text1=0; //可输入
									$scope.text2=12; //不可用
									$scope.text3=50; //只读
									$scope.text4=0; //可输入(保留1位小数)
									$scope.text5=0; //可输入(保留3位小数)
								}]);

							4、
								decimal 小数指令--必填项
									precision 精度值--可选项，默认为2
				</code>
			</pre>
	</div>
		<!-- <div class="col-md-4">
			<pre style="margin-bottom: 10px; background: hsl(30, 20%, 25%); ">
				<code class="language-css" style="color:#fff; font-size:15px; text-shadow: none;">
	
				</code>
			</pre>
		</div> -->

		<button class="btn pull-right"  ui-sref="AngularJs" style="background: hsl(30, 20%, 25%); color:#fff;margin-bottom:10px; margin-right: 15px;">返回</button>
	</div>
	
	
</div>
	

