<div class="container" >
	<div class="row">
		<div class="col-md-8">
			<pre style="margin-bottom: 10px; background: hsl(30, 20%, 25%); " >
			<code class="language-css" style="color:#fff; font-size:15px; text-shadow: none;">
		
 /*===============================================*/
 /*  	ngAnimate_搜索输入时，淡入呈现内容
 /*===============================================*/
	&lt;style&gt;
	.box{ transition:1s all;}
	.box.ng-enter{ opacity:0;}
	.box.ng-enter-active{ opacity:1;}
	.box.ng-leave{ display:none;}
	.box.ng-enter-stagger{
		animation-delay : 100ms;
	}
	&lt;/style&gt;
	&lt;script src="http://cdn.bootcss.com/angular.js/1.3.8/angular.min.js"&gt;&lt;/script&gt;
	&lt;script src="http://cdn.bootcss.com/angular.js/1.3.8/angular-animate.min.js"&gt;&lt;/script&gt;
	&lt;script&gt;
	var m1 = angular.module('myApp',['ngAnimate']);
	m1.controller('Aaa',['$scope','$http','$timeout',function($scope,$http,$timeout){
		var timer = null;
		$scope.data = [];	
		$scope.change = function(name){		
			$timeout.cancel(timer);		
			timer = $timeout(function(){		
				$http({
					method : 'JSONP',
					url : 'https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?wd='+name+'&amp;cb=JSON_CALLBACK'
				}).success(function(data){
					//console.log(data);
					$scope.data = data.s;
				});		
			},500);	
		};
	}]);
	&lt;/script&gt;
	&lt;/head&gt;
	&lt;body&gt;
	&lt;div ng-controller="Aaa"&gt;
		&lt;input type="text" ng-model="name" ng-keyup="change(name)"&gt;
	    &lt;input type="button" ng-click="change(name)" value="搜索"&gt;
	    &lt;ul&gt;
	    	&lt;li class="box" ng-repeat="d in data"&gt;{{d}}&lt;/li&gt;
	    &lt;/ul&gt;
	&lt;/div&gt;
	&lt;/body&gt;

				</code>
			</pre>
	</div>
		<div class="col-md-4">
			<pre style="margin-bottom: 10px; background: hsl(30, 20%, 25%); ">
				<code class="language-css" style="color:#fff; font-size:15px; text-shadow: none;">
	代码说明：
	1、引入ngAnimate插件
  	2、注入依赖到模块
  	3、第一种：通过css来实现
  	4、ng-enter： (要设置transition)
  		.box .ng-enter{ opacity:0 }
  	5、ng-enter-active
  		.box .ng-enter-active{ opacity:1 }
	上面指的是元素进入页面的过程动画

  	6、ng-leave
  	7、ng-leave-active
  	同理，这里指的是元素离开页面过程的动画

	8、支持这种运动方式的指令有：
		ng-if
		ng-view
		ng-switch
		ng-repeat
		ng-include

	9、有其他的指令，像ng-show等控制样式的，利用另外一套：
	10、ng-hide-add
		如果要隐藏，那隐藏的给add进来
		opacity:1
	11、 ng-hide-add-active
		opacity:0
	12、 ng-hide-remove : 
		如果要显示，那隐藏的给remove掉
		opacity:0
	13、 ng-hide-remove-active
		opacity:1

	14、适用的指令：
		ng-class
		ng-show
		ng-hide

	15、 angular里通过js来写运动
		对于ng-if一类的我们用
		enter  进场
		leave 退场

	       	对于ng-show一类的：
	       	removeClass 进场
	       	addClass 退场
				</code>
			</pre>
		</div>

		<button class="btn pull-right"  ui-sref="AngularJs" style="background: hsl(30, 20%, 25%); color:#fff;margin-bottom:10px; margin-right: 15px;">返回</button>
	</div>
</div>
	

