<div class="container" >
	<div class="row">
		<div class="col-md-8">
			<pre style="margin-bottom: 10px; background: hsl(30, 20%, 25%); " >
			<code class="language-css" style="color:#fff; font-size:15px; text-shadow: none;">
		
 /*===============================================*/
 /*  	搜索框过滤功能
 /*===============================================*/
		&lt;div&gt;  &lt;!-- 把用户输入的结果存到vm.filter.$变量中 --&gt;
		&lt;label for=&quot;_keyword&quot;&gt;过滤条件&lt;/label&gt;
		&lt;input type=&quot;text&quot; id=&quot;_keyword&quot;
				ng-model=&quot;vm.filter.$&quot;
				placeholder=&quot;请输入主题、作者或发帖时间的任意部分进行筛选&quot;&gt;
		&lt;/div&gt;

		&lt;table class=&quot;table table-hover table-striped&quot;&gt;
		&lt;thread&gt;
		&lt;tr&gt;
		&lt;th&gt;主题&lt;/th&gt;
		&lt;th&gt;作者&lt;/th&gt;
		&lt;th&gt;发帖时间&lt;/th&gt;
		&lt;/tr&gt;
		&lt;/thread&gt;
		&lt;tbody&gt;
		&lt;tr ng-repeat=&quot;item in vm.items | filter:vm.filter&quot;&gt;
		&lt;td&gt;{{ item.title }}&lt;/td&gt;
		&lt;td&gt;{{ item.poster }}&lt;/td&gt;
		&lt;td&gt;{{ item.dateCreated | date : &#x27;yyyy-MM-dd HH:mm&#x27; }}&lt;/td&gt;
		&lt;/tr&gt;
		&lt;/tbody&gt;
		&lt;/table&gt;


			</code>
			</pre>
	</div>
		<div class="col-md-4">
			<pre style="margin-bottom: 10px; background: hsl(30, 20%, 25%); ">
				<code class="language-css" style="color:#fff; font-size:15px; text-shadow: none;">
	代码说明：
	输入框，接收关键字，存到一个属性里去：
					vm.filter对象下的$属性中
	把vm.filter这个对象，作为filter过滤器的参数，
	它就会根据这个 参数对vm.items数组进行筛选，
	过滤的记过传给ng-repeat指令，更新显示内容
			</code>
			</pre>
		</div>

		<button class="btn pull-right"  ui-sref="AngularJs" style="background: hsl(30, 20%, 25%); color:#fff;margin-bottom:10px; margin-right: 15px;">返回</button>
	</div>
	
	
</div>
	

