<div class="container" >
	<div class="row">
		<div class="col-md-12">
			<pre style="margin-bottom: 10px; background: hsl(30, 20%, 25%); " >
			<code class="language-css" style="color:#fff; font-size:15px; text-shadow: none;">
		
												 /*===============================================*/
												 /*  					angular-ui-tree的使用
												 /*===============================================*/
								1、需要引入的文件：
									1)、angular.js
									2)、bootstrap.min.css	
									3)、bootstrap.min.js	
									4)、jquery.min.js	
									5)、angular-ui-tree.js	
									6)、angular-ui-tree.min.css

								2、使用：
									&lt;script type="text/ng-template" id="nodes_renderer.html"&gt;
										  &lt;div ui-tree-handle class="tree-node tree-node-content"&gt;
										    &lt;a 
										    	class="btn btn-success btn-xs" 
										    	ng-if="node.nodes && node.nodes.length &gt; 0" 
										    	data-nodrag 
										    	ng-click="toggle(this)"&gt;
											    &lt;span
												    class="glyphicon"
												    ng-class="{
												          'glyphicon-chevron-right': collapsed,
												          'glyphicon-chevron-down': !collapsed
												    }"&gt;
											    &lt;/span&gt;
										    &lt;/a&gt;
										    {{node.title}}
										    &lt;a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"&gt;&lt;span
										        class="glyphicon glyphicon-remove"&gt;&lt;/span&gt;&lt;/a&gt;
										    &lt;a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"&gt;&lt;span
										        class="glyphicon glyphicon-plus"&gt;&lt;/span&gt;&lt;/a&gt;
										  &lt;/div&gt;

										  &lt;ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}"&gt;
											    &lt;li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'"&gt;
											    &lt;/li&gt;
										  &lt;/ol&gt;
								&lt;/script&gt;



								&lt;div class="row"&gt;
									  &lt;div class="col-sm-6"&gt;
									    &lt;div ui-tree id="tree-root"&gt;
									      &lt;ol ui-tree-nodes ng-model="data"&gt;
									        &lt;li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"&gt;&lt;/li&gt;
									      &lt;/ol&gt;
									    &lt;/div&gt;
									  &lt;/div&gt;
								&lt;/div&gt;	


								3、js:
									(function () {
										  'use strict';
										  angular.module('demoApp', ['ui.tree']);
										  angular.module('demoApp')
										    .controller('BasicExampleCtrl', ['$scope', function ($scope) {
										     $scope.remove = function (scope) {
										        scope.remove();
										    };

										    $scope.toggle = function (scope) {
										        scope.toggle();
										    };

										    $scope.moveLastToTheBeginning = function () {
										        var a = $scope.data.pop();
										        $scope.data.splice(0, 0, a);
										    };

										    $scope.newSubItem = function (scope) {
										    var nodeData = scope.$modelValue;
										    nodeData.nodes.push({
										          id: nodeData.id * 10 + nodeData.nodes.length,
										          title: nodeData.title + '.' + (nodeData.nodes.length + 1),
										          nodes: []
										        });
										    };

										    $scope.collapseAll = function () {
										        $scope.$broadcast('angular-ui-tree:collapse-all');
										    };

										    $scope.expandAll = function () {
										        $scope.$broadcast('angular-ui-tree:expand-all');
										    };

										    $scope.data = [{
										        'id': 1,
										        'title': 'node1',
										        'nodes': [
										          {
										            'id': 11,
										            'title': 'node1.1',
										            'nodes': [
										              {
										                'id': 111,
										                'title': 'node1.1.1',
										                'nodes': []
										              }
										            ]
										          },
										          {
										            'id': 12,
										            'title': 'node1.2',
										            'nodes': []
										          }
										        ]
										    }, {
										        'id': 2,
										        'title': 'node2',
										        'nodrop': true, // An arbitrary property to check in custom template for nodrop-enabled
										        'nodes': [
										          {
										            'id': 21,
										            'title': 'node2.1',
										            'nodes': []
										          },
										          {
										            'id': 22,
										            'title': 'node2.2',
										            'nodes': []
										          }
										        ]
										    }, {
										        'id': 3,
										        'title': 'node3',
										        'nodes': [
										          {
										            'id': 31,
										            'title': 'node3.1',
										            'nodes': []
										          }
										        ]
										      }];
										    }]);

										}());


							4、注意：
								1)、把bootstrap的fonts文件添加进去
								2)、css样式
									.btn {
									    margin-right: 8px;
									}

									.angular-ui-tree-handle {
									    background: #f8faff;
									    border: 1px solid #dae2ea;
									    color: #7c9eb2;
									    padding: 10px 10px;
									}

									.angular-ui-tree-handle:hover {
									    color: #438eb9;
									    background: #f4f6f7;
									    border-color: #dce2e8;
									}

									.angular-ui-tree-placeholder {
									    background: #f0f9ff;
									    border: 2px dashed #bed2db;
									    -webkit-box-sizing: border-box;
									    -moz-box-sizing: border-box;
									    box-sizing: border-box;
									}

									tr.angular-ui-tree-empty {
									    height:100px
									}

									.group-title {
									    background-color: #687074 !important;
									    color: #FFF !important;
									}


									/* --- Tree --- */
									.tree-node {
									    border: 1px solid #dae2ea;
									    background: #f8faff;
									    color: #7c9eb2;
									}

									.nodrop {
									    background-color: #f2dede;
									}

									.tree-node-content {
									    margin: 10px;
									}
									.tree-handle {
									    padding: 10px;
									    background: #428bca;
									    color: #FFF;
									    margin-right: 10px;
									}

									.angular-ui-tree-handle:hover {
									}

									.angular-ui-tree-placeholder {
									    background: #f0f9ff;
									    border: 2px dashed #bed2db;
									    -webkit-box-sizing: border-box;
									    -moz-box-sizing: border-box;
									    box-sizing: border-box;
									}
								

						   

							
				</code>
			</pre>
	</div>
		<!-- <div class="col-md-4">
			<pre style="margin-bottom: 10px; background: hsl(30, 20%, 25%); ">
				<code class="language-css" style="color:#fff; font-size:15px; text-shadow: none;">
	
				</code>
			</pre>
		</div> -->

		<button class="btn pull-right"  ui-sref="AngularJs" style="background: hsl(30, 20%, 25%); color:#fff;margin-bottom:10px; margin-right: 15px;">返回</button>
	</div>
	
	
</div>
	

