<div class="container">
			<div class="row" >
				<div class="col-md-6 borderPanel MypanelL" style="border-top-right-radius: 0; border-bottom-right-radius: 0" ng-class="{true :'moveFromLeft',false:'moveOut'}[className]">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 style="text-align: center;">
								其他常用代码
							</h3>
						</div>
					</div>
					<div class="panel-body">
						<ul class="list">
							<li class="con_item" ng-repeat='item in data_js | filter : keyword'>
								<a ui-sref='{{item.view}}'>
								<span class="glyphicon glyphicon-star" style="color:#f60;margin-left: 5px;position: relative;left: -5px;">
									
								</span>{{item.title}}
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 borderPanel MypanelR" style="border-top-left-radius: 0; border-bottom-left-radius: 0" ng-class="{true :'moveFromLeft',false:'moveOut'}[className]">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 style="text-align: center;">
								常用工具方法
							</h3>
						</div>
					</div>
					<div class="panel-body">
						<ul class="list">
							<li class="con_item" ng-repeat='item in data_tool | filter : keyword'>
								<a ui-sref='{{item.view}}'>
								<span class="glyphicon glyphicon-star" style="color:#f60;margin-left: 5px;position: relative;left: -5px;">
									
								</span>{{item.title}}
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>