<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>JSTool</title>
	<meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no'>
      <link rel="shortcut icon" href="images/icon.ico">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="css/prism.css">
	<link rel="stylesheet" href="css/reset.css" type="text/css">
    <script src="js/jQuery.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/ui-router.js"></script>
	<script src="js/app.js"></script>
	<script src="js/prism.js" data-manual></script>
    <script src="js/test.js"></script>
	

</head>
<body ng-controller="myCtrl">
	<nav class="navbar navbar-default navbar-fixed-top" id="nav">
		<div class="container">
			<!-- 小屏幕导航按钮 -->
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>   
					</button>
					<a href="index.html" class="navbar-brand"style="font-weight: bold; position: relative; left: -5px; color:#fff;top:13px;">Front End &nbsp; &nbsp;</a>
					<form class="form-inline" name="myform">
						<input 
							type="search" 
							class="form-control" 
							placeholder="key word" 
							ng-model="keyword"
							ng-blur="back()"
							style="position: relative; top:18px; left: -58px;border-radius:0;"/>
						<button 
							type="submit" 
							id="submit" 
							class="btn btn-default" 
							style="color:#fff;position: relative; top:-16px; left:149px;visibility:hidden;">
							<span class="glyphicon glyphicon-search"     
								style="color:#555;">
							</span>
							查询
						</button>
					</form>
				</div>
			<!-- 小屏幕导航按钮 -->

			<!-- 右侧导航 -->
			<div class="navbar-collapse collapse" style="font-size:15px; font-weight:bold;">
				<ul class="nav navbar-nav navbar-right" id="class_content">
					<li ng-repeat="item in classTitles" ng-click="fnSelect($event,$index, item)">
						<a 
							ui-sref='{{item.view}}' 
							ng-class="{ 'activeCur' : $first }">
							{{item.value}}
						</a>
					</li>

					<!-- <li><a ui-sref="index">JavaScript</a></li>
					<li><a  ui-sref="AngularJs" ng-click="reStartMove(this.ui-sref)">AngularJS</a></li>
					<li><a href="#Css3">jQuery</a></li>
					<li><a  href="#jQuery">HTML5</a></li>
					<li><a href="#mobile">Css3</a></li>
					<li><a ui-sref="Others">Others</a></li> -->
				</ul>
			</div>
			<!-- 右侧导航 -->	
		</div>	
	</nav>	

	<section id="content-wrap"  ui-view>
		<div class="container">
			<div class="row" >
				<!-- 常用代码 -->
				<div class="col-md-6 borderPanel MypanelL" style="border-top-right-radius: 0; border-bottom-right-radius: 0" ng-class="{true :'moveFromLeft',false:'moveOut'}[className]">
					<div class="panel panel-default">
						<div class="panel-heading">
							<!-- <h3 style="text-align: center;">
								其他常用代码
							</h3> -->
						</div>
					</div>
					<div class="panel-body">
						<ul class="list">
							<li class="con_item" ng-repeat='item in data_js | filter : keyword'>
								<a ui-sref='{{item.view}}'>
								<span class="glyphicon glyphicon-star" style="color:#f60;margin-left: 5px;position: relative;left: -5px;">
									
								</span>{{item.title}}
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- 常用工具方法 -->
				<div class="col-md-6 borderPanel MypanelR" style="border-top-left-radius: 0; border-bottom-left-radius: 0" ng-class="{true :'moveFromLeft',false:'moveOut'}[className]">
					<div class="panel panel-default">
						<div class="panel-heading">
							<!-- <h3 style="text-align: center;">
								常用工具方法
							</h3> -->
						</div>
					</div>
					<div class="panel-body">
						<ul class="list">
							<li class="con_item" ng-repeat='item in data_tool | filter : keyword'>
								<a ui-sref='{{item.view}}'>
								<span class="glyphicon glyphicon-star" style="color:#f60;margin-left: 5px;position: relative;left: -5px;">
									
								</span>{{item.title}}
								</a>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</section>
</body>
</html>